

.imag{
    width: 100%;
    height: 400px;
    background-position: center;
    background-image: url(../assets/Images/bg1.jpg);
    
    }
    .imag-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(88, 84, 84, 0.57);
    }