*{
    padding: 0;
    margin: 0;
    font-family: "Nightlife";
}

.image{
    width: 100%;
    height: 460px;
    background-position: center;
    background-image: url(../assets/Images/Hrbg.jpg);

}
.image-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.57);
}
.text{
    color: white;
   
}
.search{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 80%;
    margin-left: 5px;
    
   }
   .search:focus{
       outline: none;
   }
   .input-wrrapper{
    background-color: white;
    width: 22%;
    border-radius: 10px;
    height: 2.5rem;
    padding:  0 15px;
    box-shadow: 0px 0px 8px #fff;
    display: flex;
    align-items: center;
}

.txt{
    font-size: 30px;
    font-weight: 1000;
    color: white;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid white;
    animation: typing 8s infinite;
   justify-content: center;
   align-items: center;
   display: flex;
   margin-left: 33%;
}

@keyframes typing{
    0%{
        width: 0ch;
    }
    50%{
        width: 31ch;
    }
}
.forms-group{
    width: 500px;
    height: 60px;
    position: relative;
    background: red;
    margin-left: 33%;
   margin-top: 20px;
}

.forms-group input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: white;
    box-sizing: border-box;

}
.forms-group .input:focus{
    border: 2px solid orangered;
}

.forms-group .btns{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: orangered;
    font-size: 20px;
    color: white;
}
.forms-group .btns:hover{
    background-color: rgba(248,82,21);
}
.btn1 .input{
    padding-right: 80px;
}
.butt{
    display: inline-block;
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .butt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .butt span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .butt:hover span {
    padding-right: 25px;
  }
  
  .butt:hover span:after {
    opacity: 1;
    right: 0;
  }
  .butt:hover{
    background-color: rgba(247, 162, 5, 0.973);
  }