.images{
    width: 100%;
    height: 400px;
    background-position: center;
    background-image: url(../assets/Images/resume.jpg)
}
.image-overlays{
    width: 100%;
    height: 100%;
    background-color: #0e0d0d59;
}
